* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    margin-top: 47px;
    margin-left: 47px;

}

.link-header {
    margin-right: 32px;
    width: 79px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #17233D;
    cursor: pointer;
}

.button-signup {

    background-color: #4CB538;
    border: none;
    border-radius: 5px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    cursor: pointer;

}

img {
    margin: 163px 0 0 123px;
    display: inline-block;

}

div {
    display: inline-block;
    width: 493px;
    margin-left: 84px;

}

h1 {
    color: #161A49;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0, 5961px;

}

p {
    height: 99px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0, 59px;
    margin-top: 47px;
    margin-bottom: 55px;
    color: #4B505A;

}

.button-learnmore {
    width: 112px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    border: none;
    background: transparent;
    cursor: pointer;

}


@media screen and (max-width: 400px) {

    header {
        display: block;
        margin-top: 10px;
        margin-left: 10px;

    }

    .button-signup {
        width: 100px;
        height: 40px;
        border-radius: 17px;
        font-size: 15px;
        margin-bottom: 25px;

    }

    .link-header {
        display: none;
    }

    img {
        margin: 30px 20px;
        display: inline-block;
        max-width: 360px;

    }

    div {
        margin-left: 0;
        width: 400px;
        text-align: center;

    }

    h1 {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        line-height: 26px;
        margin: auto;
        width: 375px;

    }

    .button-learnmore {
        margin-left: 0;
        margin-top: 50px;

    }

}

@media screen and (max-width: 900px) and (orientation: landscape) {

    header {
        margin-top: 20px;
        margin-left: 415px;
    
    }

    .button-signup{
        border-radius: 20px;
        width: 115px;
        height: 45px;
        
    }

    img{
        margin: auto;
        display: inline-block;
        max-width: 360px;
        margin-left: 15px;
        position: absolute;
    }

    div{
        display: inline-block;
        width: 493px;
        margin-left: 0;
        position: relative;
        left: 400px;
    }


    h1{
        font-size: 45px;
        line-height: 60px;
        text-align: end;
        margin-right: 20px;
        margin-top: 15px;
    }

    p{
        margin-top: 10px;
        margin-bottom: 15px;
        margin-right: 20px;
        text-align: end;
    }

    .button-learnmore{
        cursor: pointer;
        position: absolute;
        left: 365px;
    }









    }







