* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;

}

.button-login {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    width: 130px;
    height: 41px;
    border-radius: 50px;
    background-color: #665AE1;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}


.logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}

section {
    display: inline-block;
    margin-left: 87px;
}

h1 {
    width: 513px;
    height: 122px;
    font-weight: 900;
    font-size: 100px;
    line-height: 121.9px;
    color: #515151;
}

h2 {
    width: 448px;
    height: 71px;
    font-weight: 500;
    font-size: 58px;
    line-height: 70.7px;
    color: #515151;

}

p {
    width: 515px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 35px;
}

.button-explore {
    border-radius: 30px;
    background: #ADFF00;
    width: 239px;
    height: 64px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34.13px;
    color: #000000;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

@media screen and (max-width: 900px) {

    .link-header {
        display: none;
    }

    header {
    margin: 44px 0 100px 13px;
}

    .button-login {

        position: static;
        margin-left: 100%;
        margin-left: 20px


    }

    p {
        display: none;
    }

    .logo {

        display: block;
        margin-left: 30px;
        max-width: 130%;
        width: 394px;
        height: 375px;
    }

    section {
       position: absolute;
       margin-left: 030px;
       display: inline-block;
       

    }

    h1 {
        width: 444px;
        height: 85px;
        font-size: 60px;
        margin: auto;
        text-align: center;
    }

    h2 {
        font-size: 38px;
        text-align: center;
        margin-top: 10px;
        
    }

    .button-explore {
        margin-left: 108px;
        margin-top: 10px;
        


    }


    @media screen and (max-width: 900px) and (orientation:landscape) {

        header {
            margin: 20px;
            display: inline-block;
        }


        .button-login {
            margin: 0;
            padding: 0;

        }


        .logo {
            
            display: inline;
            margin-top: 30px;
            
            width: 30%;
            height: 30%;

        }

       section {
            display: inline;
            position: absolute;

        }


        h1 {
            font-size: 50px;
            text-align: center;
        }

        h2 {
            font-size: 40px;
            text-align: center;

        }


    }








}